@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.';
  }
}

$whitish: #d7d7d7;
$beigeColor: #f9f4da;
$greyColor: #8e8e8e;
$darkGreyColor: #282726;
$otherGreyColor: #323232;

$green: #10a95b;
$yellow: #fcba29;
$red: #ec5d49;
$deepRed: #b11414;
$purpleColor: #7a5ea7;
$blue: #11b5e5;
$black: #000;

@mixin flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* browsers in the future */
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#root {
  @include flexContainer;
  min-height: 100vh;
  min-width: rem(500);
  text-align: center;
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: $darkGreyColor;
  user-select: none;

  main {
    @include flexContainer;

    header {
      @include flexContainer;
      height: rem(66);
      width: rem(352);
      margin-block: 1rem;

      h1.heading {
        color: $beigeColor;
        font-size: rem(20);
        font-weight: 500;
        line-height: 1rem;
        padding-bottom: rem(8);
        text-align: center;
      }

      div.rules {
        color: $greyColor;
        font-size: rem(14);
        font-weight: 500;
        line-height: 1rem;
        text-align: center;
      }
    }

    section.game-status {
      @include flexContainer;
      visibility: hidden;
      height: rem(59);
      width: rem(352);
      border-radius: rem(4);
      margin-block: 1rem;
      color: $beigeColor;

      h2.game-status-heading {
        display: block;
        font-size: rem(20);
        font-weight: 500;
      }

      &.game-won {
        visibility: visible;
        background-color: $green;

        div.game-status-text::after {
          content: 'Отличная работа! 🎉';
          font-size: rem(16);
          font-weight: 500;
        }
      }

      &.game-lost {
        visibility: visible;
        background-color: $deepRed;

        div.game-status-text::after {
          content: 'Пришло время учить Ассемблер 😭';
          font-size: rem(16);
          font-weight: 500;
        }
      }

      &.a-language-lost {
        visibility: visible;
        border: 1px dashed $otherGreyColor;
        background-color: $purpleColor;

        h2.game-status-heading {
          font-style: italic;
          font-weight: normal;
          font-size: rem(16);
        }
      }
    }

    section.health-bar {
      @include flexContainer;
      flex-direction: row;
      flex-wrap: wrap;
      height: rem(59);
      width: rem(340);
      margin: 1rem;

      span.language-point {
        @include flexContainer;
        position: relative;
        height: rem(25);
        font-size: rem(12);
        font-weight: 500;
        border-radius: rem(3);
        padding: rem(8);
        margin: 0 rem(2);

        &.lost::before {
          @include flexContainer;
          content: '💀';
          position: absolute;
          height: 100%;
          width: 100%;
          font-size: 1rem;
          border-radius: rem(3);
          background-color: #000000cc;
        }
      }
    }

    section.word-bar {
      @include flexContainer;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 1rem;

      span.letter {
        @include flexContainer;
        height: rem(40);
        width: rem(40);
        background-color: $otherGreyColor;
        color: $beigeColor;
        font-size: rem(18);
        font-weight: 700;
        text-transform: uppercase;
        margin: rem(2);
        border-bottom: solid rem(3) $beigeColor;
      }
    }

    section.keyboard {
      @include flexContainer;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 1rem;
      max-width: rem(450);

      button.key {
        @include flexContainer;
        height: rem(40);
        width: rem(40);
        font-family: 'Hanken Grotesk', sans-serif;
        background-color: $yellow;
        color: $black;
        font-size: rem(16);
        font-weight: 500;
        text-transform: uppercase;
        margin: rem(4);
        border: rem(1) solid $whitish;
        border-radius: rem(4);
        cursor: pointer;

        &.chosen {
          cursor: default;

          &.correct {
            background-color: $green;
          }

          &.wrong {
            background-color: $red;
          }

          &:hover {
            filter: none;
          }
        }

        &:hover {
          filter: brightness(115%);
        }

        &:active {
          filter: brightness(80%);
        }
      }
    }

    section.new-game-btn-container {
      @include flexContainer;
      width: rem(228);
      height: rem(40);
      margin: 1rem;

      button.new-game-btn {
        @include flexContainer;
        align-content: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: $blue;
        border: rem(1) solid $whitish;
        border-radius: rem(4);
        cursor: pointer;

        span {
          font-family: 'Hanken Grotesk', sans-serif;
          color: $black;
          font-size: rem(16);
          font-weight: 600;
          letter-spacing: rem(1);
          text-transform: uppercase;
        }

        &:hover {
          filter: brightness(115%);
        }

        &:active {
          filter: brightness(80%);
        }
      }
    }
  }
}
